.container {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px;
  margin-bottom: 5px;
  border-bottom: 1px solid #876969;
  transition: all 0.3s;
  word-wrap: normal;
  background-color: white;
}
p {
  margin: 0px;
  padding: 0;
  font-weight: 500;
  font-size: large;
  color: gray;
}

/* .container:hover {
  background-color: #f0f0f0;
} */
