.test {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  border-radius: 2px;
  padding-top: 30px;
  width: 380px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 29px;
  display: flexbox;
  overflow: scroll;
  max-height: 300px;
  overflow-x: hidden;
}

.empty {
  display: flex;
  color: rgb(159, 159, 159);
  justify-content: center;
  opacity: 0.8;
  font-size: large;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(208, 208, 207);
}
