.test {
  width: 100%;
  grid-row: 1;
  margin-top: 10px;
  grid-column: 2;
  border-radius: 10px; /* Adjust the value to change the roundness of the corners */
}

h1 {
  padding: 0;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
}
